<template>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
            <a class="p-2 link-secondary" href="/home">Employees</a>
            <a class="p-2 link-secondary" href="/login">login</a>
<!--            <a class="p-2 link-secondary" href="/?limit=5&offset=1">Technology</a>-->

        </nav>
    </div>
</template>

<script>
    export default {
        name: "Nav"
    }
</script>

<style scoped>

</style>