<template>
    <Nav/>
    <h2>Працівники</h2>
    <input v-on:keyup.enter="onSearch($event.target.value)" type="text" id="search" style="height: 20px; width: 18rem"
           class="fadeIn second" name="search"
           placeholder="search">
    <!--    <a @click="onSearch()" class="btn btn-warning">search</a>-->
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <!--            <button @click="addEmployeer()" type="button" class="btn btn-sm btn-outline-secondary">Add</button>-->
            <router-link to="/add" class="btn btn-sm btn-outline-secondary">Add</router-link>

        </div>
    </div>
    <div class="table-responsive">

        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Ім'я</th>
                <th>Фамілія</th>
                <th>По батькові</th>
                <th>Подія</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="employee in employees" v-bind:key="employee.id">
                <td>{{employee.id}}</td>
                <td>{{employee.fname}}</td>
                <td>{{employee.sname}}</td>
                <td>{{employee.pname}}</td>
                <td>
                    <a @click="del(employee.id)" class="btn btn-danger">del</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</template>

<script crossorigin="anonymous">
    import Nav from "../../components/Nav";
    // import {ref, onMounted} from 'vue';
    import {makeRequest} from "@/utils";


    const HOST = document.location.origin;

    export default {
        name: "Employees",

        data: function () {
            return {
                inputData: "",
                employees: [],
            };
        },

        components: {
            Nav
        },
        methods: {
            async fetchEmployees(query = '', offset = 0, limit = 10) {
                const result = await makeRequest(
                    `${HOST}/api/v1/employees?limit=${limit}&offset=${offset}&query=${query}`,
                    'GET',
                    this.$router);
                this.employees = result ? result : [];
            },
            onSearch(query) {
                this.fetchEmployees(query);
            },
            async del(id) {
                if (confirm("Ви впевнені, що хочете видалити?")) {
                    if (await makeRequest(`${HOST}/api/v1/employees/${id}`,'DELETE', this.$router))
                        this.employees = this.employees.filter((e) => e.id !== id);
                }
            }
        },
        mounted() {
            this.fetchEmployees();
        }
    }
</script>

<style scoped>

</style>