<template>
    <Nav/>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <form @submit.prevent="submitForm">
                <input v-model="fname" type="text" id="fname" class="fadeIn second" name="fname" placeholder="Ім'я">
                <input v-model="sname" type="text" id="sname" class="fadeIn third" name="sname" placeholder="Фамілія">
                <input v-model="pname" type="text" id="pname" class="fadeIn third" name="pname"
                       placeholder="По-батькові">
                <input type="submit" class="fadeIn fourth" value="Додати">
                <!--                <button class="fadeIn fourth submit">Додати</button>-->
            </form>
        </div>
    </div>
</template>

<script>
    import Nav from "../../components/Nav";
    import {ref} from 'vue';
    import {useRouter} from "vue-router";
    import {makeRequest} from '@/utils';

    const HOST = document.location.origin;

    export default {
        name: "EmployeeCreate",
        setup() {
            const fname = ref('');
            const sname = ref('');
            const pname = ref('');
            const router = useRouter();

            const submitForm = async () => {

                await makeRequest(`${HOST}/api/v1/employees`, 'POST', router, {
                    fname: fname.value,
                    sname: sname.value,
                    pname: pname.value
                });

            };

            return {
                fname, sname, pname, submitForm
            }
        },

        components: {Nav}
    }
</script>

<style>

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    #formFooter {
        background-color: #f6f6f6;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }

    .submit, input[type=button], input[type=submit], input[type=reset] {
        background-color: #56baed;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #39ace7;

    }

    input[type=button] :active {
        border: 1px solid #56baed;
    }

    input[type=text] {
        background-color: #f6f6f6;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #e2e0e0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }


</style>