<template>
    <Nav/>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../../assets/logo.png" style="max-width: 100px; margin-top: 30px;" id="icon" alt="User Icon"/>
            </div>

            <!-- Login Form -->
            <form @submit.prevent="submitAuthData">
                <input v-model="login.email" type="text" id="email" class="fadeIn second" name="email" placeholder="email">
                <input v-model="login.password" type="password" id="password" class="fadeIn third" name="login"
                       placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!--            &lt;!&ndash; Remind Passowrd &ndash;&gt;-->
            <!--            <div id="formFooter">-->
            <!--                <a class="underlineHover" href="#">Forgot Password?</a>-->
            <!--            </div>-->
        </div>
    </div>
</template>

<script>
    import Nav from "../../components/Nav";

    const HOST = document.location.origin;

    export default {
        name: "Login",
        data: function () {
            return {

                login: {
                    email: "",
                    password: ""
                }

            };
        },
        methods:
            {
                async submitAuthData() {
                    const response = await fetch(`${HOST}/api/v1/login/`, {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json', 'jwt':
                                'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJUSEVfSVNTVUVSIiwiYXVkIjoiVEhFX0FVRElFTkNFIiwiaWF0IjoxNjE0OTQ3NDQyLCJuYmYiOjE2MTQ5NDc0NTIsImV4cCI6MTYxNDk0NzUwMiwiZGF0YSI6eyJpZCI6IjIiLCJmaXJzdG5hbWUiOiJWYWxlbnR5biIsImxhc3RuYW1lIjoiS290ZWxpdWsiLCJlbWFpbCI6InNvbWVwb3dlcmZ1bG1hbkBnbWFpbC5jb20ifX0.MuSmujmG4Enz3mPM5ithCodYe0HA23i3ocNaHCLgrvE'},
                        body: JSON.stringify(this.login)

                    });
                    const token = await response.json();
                    localStorage.setItem("jwt", token.jwt);
                    // await router.push('/home');
                    this.$router.push("/home");
                }
            },

        components: {Nav}
    }
</script>

<style scoped>

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    #formFooter {
        background-color: #f6f6f6;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: #56baed;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #39ace7;
    }

    input[type=text], input[type=password] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }


</style>